<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link href="../css/splash.css" rel="stylesheet">
</head>

<body>
<div class="ui card">
    <div class="image icon">
        <i id="splashIcon" class="loading microsoft icon massive"></i>
        <button id="splashBtn" class="fluid ui button primary">小虾米正在连接...</button>
    </div>
</div>

<script>require('../js/splash.js');</script>
</body>
</html>