body {
    margin: 0;
    overflow-y: hidden;
}

body .lyrics-line {
    font-family: FZHei-B01, 'Hiragino Kaku Gothic Pro', 'WenQuanYi Zen Hei', '微軟正黑體', '蘋果儷中黑', Helvetica, Arial, sans-serif;
    background: rgba(0, 0, 0, 0);
    margin: 0;
    font-size: 24px;
    text-align: center;
    letter-spacing: 5px;
    height: 48px;
    line-height: 48px;
    color: #ffffff;
    text-shadow: #000 0px 0px 5px, #000 0px 0px 5px;
    -webkit-app-region: drag;
}


body .lyrics-window {
    background: rgba(0, 0, 0, 0.92);
}

.control-container {
    position: absolute;
    right: 0;
    top: 6px;
    -webkit-app-region: no-drag;
}

.album-cover {
    position: absolute;
    left: 0;
    top: 0;
    height: 48px;
    width: 48px;
    -webkit-app-region: no-drag;
    cursor: pointer;
}

.album-cover img {
    height: 100%;
}

.button-close {
    background-color: transparent !important;
    color: #ffffff !important;
}